.blinker {
  -webkit-animation: blink 1s infinite;  /* Safari 4+ */
  -moz-animation: blink 1s infinite;  /* Fx 5+ */
  -o-animation: blink 1s infinite;  /* Opera 12+ */
  animation: blink 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink {
  0%, 49% {
    background-color: white;
  }
  50%, 100% {
    background-color: grey;
  }
}
